.adoption-process-item {
  margin: 10px;
  list-style: none;
  width: 600px;
  padding: 0;
}

.adoption-process-card {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid 3px #496770;
  background-color: #496770;
}

.user-avatar {
  border-radius: 7px 0 0 0;
  width: 297px;
  height: 297px;
  object-fit: cover;
}

.pet-photo {
  border-radius: 0 7px 0 0;
  width: 297px;
  height: 297px;
  object-fit: cover;
}
.adoption-process-info {
  background-color: #496770;
  font-size: 15px;
}
.user-full-name {
  color: #496770;
  font-weight: bold;
  font-size: 1.5rem;
}
.user-email {
  color: #53ccf0;
}
.pet-name {
  color: white;
}

.adoption-process-status {
  color: #53ccf0;
}
