.all-cities {
  float: left;
  margin-bottom: 20px;
  background-color: #42a0bd;
  color: white;
}
.city-menu {
  float: right;
  margin-bottom: 20px;
  background-color: #42a0bd;
  color: white;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.company-card {
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: auto;
  border: solid 5px #42a0bd;
  background-color: #42a0bd;
}

.company-logo {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.company-info {
  background-color: #42a0bd;
  font-size: 15px;
}
