.all-pets {
  float: left;
  margin-bottom: 20px;
  background-color: #42a0bd;
  color: white;
}

.menu {
  float: right;
  margin-bottom: 20px;
  background-color: #42a0bd;
  color: white;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dropdown-item {
  text-align: center;
}

.selected {
  background-color: #99ddf2;
}
