.pet-photo1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 7px 7px 0 0;
}

.adoption-process-cardusuario {
  width: 330px;
  height: auto;
  border-radius: 10px;
  border: solid 3px #496770;
  background-color: #496770;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
