h5 {
  font-family: Arial;
  color: #275f70;
}

button {
  background-color: #42a0bd;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tituloh5 {
  font-weight: 900;
  font-size: 30px;
  height: auto;
}

.divtitle {
  display: flex;
  justify-content: center;
  padding: 30px;
}
