h2 {
  font-family: Arial;
  color: #275f70;
}

h5 {
  font-family: Arial;
  color: #275f70;
}

button {
  background-color: #42a0bd;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  color: #fff;
  background: #496770;
  cursor: pointer;
}

#bpictures {
  color: white;
  background-color: #42a0bd;
}

#subir {
  padding: 5px 10px;
  background: #42a0bd;
  color: #fff;
  border: 0px solid #fff;
  width: 50%;
}

#subir:hover {
  color: #fff;
  background: #496770;
  cursor: pointer;
}

textarea {
  height: 300px;
}
