.image-container {
  height: 500px;
  position: relative;
  z-index: -1;
}

.portada {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.texto {
  position: absolute;
  top: 120px;
  right: 50px;
  text-align: center;
  width: 30%;
}

.card-title-welcometitle {
  text-align: center;
  color: #275f70;
  font-weight: bold;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .texto {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40%;
  }

  .card-title-welcometitle {
    font-size: 1.5rem;
  }

  .portada {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 60% 50%;
  }
}

.card-text-pagedescription {
  color: black;
  font-size: 1rem;
}

.boxini {
  color: white;
  background-color: #275f70;
  padding: 10px;
  border-radius: 10px;
  border: solid 5px #42a0bd;
}

.petsbox {
  background-color: #42a0bd20;
  border-radius: 10px;
  width: 80%;
}
