.image-container {
  height: 500px;
}

#portada {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.texto {
  position: absolute;
  top: 120px;
  right: 50px;
  text-align: center;
  width: 30%;
}

#title {
  text-align: center;
  color: #275f70;
  font-weight: bold;
  font-size: 1.5rem;
}

#description {
  color: black;
  font-size: 1rem;
}
