/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
#app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Kaisei HarunoUmi", "Arial";
}

footer {
  margin-top: auto;
}

button {
  color: #fff;
  background-color: #42a0bd;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  color: #fff;
  background: #496770;
  cursor: pointer;
}

.link {
  text-decoration: none;
}
