.title {
  margin: 20px;
  font-size: 30px;
  color: #275f70;
}

.imgleft {
  height: 100%;
  width: 500px;
}

.f-login {
  width: 70%;
}

.form-control {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
}
