.imgleft {
  height: 100%;
  width: 500px;
}

.f-login {
  width: 70%;
}

.form-control {
  margin-bottom: 20px;
}

.errorlogin {
  color: red;
}

@media only screen and (max-width: 767px) {
  .imgleft {
    height: 500px;
    width: 100%;
    object-fit: contain;
    top: 100px;
  }
}

.padre {
  height: auto;
  display: flex;

  justify-content: center;
}

.hijo {
  margin-top: 100px;
  width: 600px;
  margin-bottom: 100px;
}
