.row {
  justify-content: space-around;
  display: flex;
}

.subtitle {
  color: #275f70;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 900;
}
.images-div {
  padding: 20px;
  align-items: center;
  display: flex;
  background-color: #496770;
  border-radius: 20px;
}
.photo-div {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-right: 10px;
  justify-content: space-around;
}
.photo {
  width: 100%;
  object-fit: scale-down;
  transition: transform 0.2s;
}

.info-div {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.info-pet {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #496770;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.description-pet {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #496770;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
  border-bottom: solid 2px #49677020;
  font-size: 18px;
}

.buttons-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: 45px;
}
